aiokafka==0.8.0
auto_gpt_plugin_template==0.0.3
beautifulsoup4==4.12.2
charset_normalizer==3.1.0
click==8.1.3
colorama==0.4.6
coverage==7.2.5
distro==1.8.0
docker_py==1.10.6
duckduckgo_search==3.2.0
fastapi==0.95.2
google_api_python_client==2.86.0
httpx==0.24.1
jsonschema==4.17.3
loguru==0.7.0
numpy==1.24.3
openapi_python_client==0.14.0
orjson==3.8.12
pandas==2.0.1
Pillow==9.5.0
Pillow==9.5.0
playsound==1.2.2
playwright==1.33.0
pydantic==1.10.7
pymilvus==2.2.8
pytest==7.3.1
pytest_mock==3.10.0
python-dotenv==1.0.0
regex==2023.5.5
Requests==2.31.0
scikit_learn==1.2.2
selenium==4.9.1
sentry_sdk==1.24.0
setuptools==66.1.1
spacy==3.5.3
SQLAlchemy==2.0.15
starlette==0.27.0
tweepy==4.14.0
uvicorn==0.22.0
webdriver_manager==3.8.6
yarl==1.9.2
yfinance==0.2.18
